<div class="Sidebar">
  <h1 class="Sidebar__headline">Menu</h1>
  <nav class="Sidebar__nav">
    <a
      class="Sidebar__link"
      routerLink="/image-prediction"
      routerLinkActive="active"
      >Image Prediction</a
    >
    <a
      class="Sidebar__link"
      routerLink="/image-object-detection"
      routerLinkActive="active"
      >Image object detection</a
    >
    <a
      class="Sidebar__link"
      routerLink="/video-object-detection"
      routerLinkActive="active"
      >Video object detection</a
    >
  </nav>
</div>
